default menu.c32
prompt 0
timeout 1
totaltimeout 50
default kickstart
menu title ########## PXE Boot Menu ##########
label kickstart
menu label ^kickstart
menu default
kernel rhel7/vmlinuz
append initrd=rhel7/initrd.img repo=ftp://{{ ftp_server }}/pub ks=ftp://{{ ftp_server }}/pub/ks.cfg inst.kdump_addon=off devfs=nomount xdriver=vesa nomodeset